.download {
  background: url(../../images/icons/appsimage.svg),
    linear-gradient(90deg, #cefefe 0%, #ddf181 100%);
  padding-bottom: 210px;
  padding-top: 210px;
  padding-left: 134px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.travel {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;

  color: #2c2c2c;
  margin-bottom: 60px;
}

.dButtons {
    display: flex;
}

.dButtons li :not(last-child) {
margin-right: 26px;
}